name: Documentation

on:
  push:
    branches:
      - master

jobs:
  build-and-deploy-docs:
    name: Build and Deploy Docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: .node-version
          cache: npm

      - name: Install Dependencies
        run: npm ci

      - name: Build Package
        run: npm run bundle

      - name: Build Docs
        run: npm run docs

      - name: Deploy Docs
        uses: JamesIves/github-pages-deploy-action@4.5.0
        with:
          branch: gh-pages
          folder: docs
